{% extends "base.html" %}

{% block content %}

  {% if error %}
    <div>
      <p>{{error}}</p>
    </div>
  {% else %}
    {% if post %}

      <form method="post">
        <div class="form-group">
          <label>subject</label>
          <input type="text" name="subject" class="form-control" id="entry-subject" value="{{post.subject}}">
        </div>
        <div class="form-group">
          <label>Content</label>
          <textarea class="form-control" name="content" rows="10">{{post.content}}</textarea>
        </div>

        {% if error %}
          <div>
            {{error}}
          </div>
        {% endif %}

        <button type="submit" class="btn btn-default">Submit</button>
        <a href="/post/{{post.key().id()}}" type="submit">Cancel</a>

      </form>

    {% else %}

      <div>
        <p>We're sorry, we can't find the post you are looking for</p>
      </div>

    {% endif %}
  {% endif %}

{% endblock %}